/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

:root {
  font-size: 18px;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #010101;
  color: #f3f3f3;
  margin: 0;
  padding: 0;
}



#nav_main {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #f3f3f3;
  background-color: #010101;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.open .nav-bar {
  box-shadow: none;
}

.nav-logo img {
  height: 2rem;
  width: auto;
  filter: invert(1);
}

#nav_toggle {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  color: #f3f3f3;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.open #nav_toggle {
  background-color: #f3f3f3;
  color: #010101;
}

.nav-list {
  position: fixed;
  /* top:0; */
  right: 0;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 0px;
  overflow: hidden;

  background: #010101;
  z-index: 2;
}


.open .nav-list {
  height: initial;
}

.nav-link {
  display: block;
  color: #f3f3f3;
  text-decoration: none;
  padding: 1rem;

  &.active {
    background-color: #f3f3f3;
    color: #010101;
  }

  &:hover {
    background-color: #f3f3f3;
    color: #010101;
    cursor: pointer;
  }
}


.hero {

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    background: #010101;
    color: #f3f3f3;
    padding: 0.5rem 1rem;
    transform: rotate(-6deg);
    display: inline-block;
  }

  p {
    display: inline-block;
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.hero-bg {
  z-index: 0;
}

.hero-content {
  z-index: 1;
  padding: 1rem;
  text-align: center;

  p {
    background: #010101;
    padding: 0.5rem 1rem;
  }
}

#hero_video {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

.hero {
  .btn-group {
    margin-top: 1rem auto;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .logo-spotify,
  .logo-deezer,
  .logo-soundcloud {
    height: 2rem;
  }

  
}

.btn,
.wp-block-button__link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #010101;
  ;
  color: #f3f3f3;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.btn-primary {
    background-color: #199819;

    img {
      height: 2rem;
      width: auto;
    }
  }

  &.btn-secondary {
    background: #040482
  }

  &.btn-black {
    background: #010101;
    color: #f3f3f3;

    .logo-threads {
      filter: invert(1);
    }
  }

  &.btn-white,
  &.wp-block-button__link {
    background: #f3f3f3;
    color: #010101;
  }

  &.btn-facebook,
  &.btn-instagram,
  &.btn-threads {
    img {
      height: 2rem;
      width: auto;
    }
  }

  &.btn-tiktok {
    padding: 0.25rem;

    img {
      height: 3rem;
      width: auto;
    }
  }
}

.wp-block-button {
  text-align: center;
}

#footer_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .content {
    z-index: 1;
    position: relative;
    background: #010101;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#blog_header {
  .hero-bg {
    background: url('/wp-content/themes/faux-pseudo.com/assets/img/faux_pseudo-band-pic.jpg') no-repeat center center;
    background-size: cover;
  }

  h2 {
    color: #f3f3f3;
    background: #010101;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
    transform: rotate(-6deg);
  }
}

.post-list {
  .post {
    border-bottom: 3px solid #0b0b0b;
  }

  a {
    text-decoration: none;
    color: #f3f3f3;
  }

  h2 {
    color: #b99422;
  }

  .meta {
    color: #797979;
  }
}

#main_content {
  margin-top: 8rem;
}

.entry-header {
  color: #b99422;
}

.entry-content {
  em {
    color: #797979;
  }

  a {
    color: #4392e9;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
  }
}

.wp-block-heading {
  color: ;
}

.wp-block-quote {
  border-left: 3px solid #b3d4fc;
  padding-left: 2rem;
  margin-left: 0;
  color: #f2f294;
}

.content {
  position: relative;
  z-index: 1;
  background: #010101;
  margin-bottom: 1rem;

  img {
    width: 100%;
    height: auto;
  }
}

.post {
  padding:1rem;
}

@media (min-width: 414px) {}

@media (min-width: 768px) {

  .hero-content,
  .content {
    max-width: 48ch;
  }

  #hero_video {
    object-fit: cover;
    position: fixed;
  }

  .btn-group {
    max-width: 32ch;
    margin: 1rem auto;
  }

  .hero {
    h1 {
      font-size: 3.5rem;
    }
  }

  .post {
    max-width: 36ch;
    margin: 0 auto;
  }
}


@media (min-width: 1024px) {
  #hero_video {
    top: -50%;
  }

  #nav_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar {
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
  }

  #nav_toggle {
    display: none;
  }

  .nav-list {
    position: relative;
    height: auto;
    flex-direction: row;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
  }

  .content img {
    max-width: 75vh;
    height: auto;
  }
}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {
  :root {
    font-size:20px;
  }
}